#AdminHeaderDiv {
  margin-top: 1%;
  height: 20vh;
}

#AdminHeaderDiv #logo {
  margin-left: 1%;
}

#AdminHeaderDiv #searchForm {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  top: -100px;
}

#AdminHeaderDiv #searchForm {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  top: -100px;
}

#AdminHeaderDiv #search > input {
  font-size: 15x;
  margin-bottom: 9px;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  padding: 7px;
  width: 170px;
  border-radius: 10%;
}
