#logoDiv {
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#searchForm {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  top: -80px;
}

#search > input {
  font-size: 15x;
  margin-bottom: 9px;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  padding: 7px;
  width: 170px;
  border-radius: 10%;
}

#category {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 20px 10%;
  align-items: center;
}

#chat {
  display: flex;
  justify-content: flex-end;
}

#ct {
  cursor: pointer;
}

#ct:hover {
  font-weight: 700;
}
