#communityParentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
  margin-bottom: 5%;
}
#communityParentDiv #communityDiv {
  width: 90vw;
  box-shadow: 5px 5px 5px;
  overflow: hidden;
  border-radius: 20px;
}
#communityParentDiv #communityDiv h2 {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
#communityParentDiv #communityRight button {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 20px;
  box-shadow: 1px 1px 1px;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}
#communityParentDiv #communityRight button:hover {
  background-color: #fed586;
}

#communityParentDiv #container {
  display: flex;
}

#communityParentDiv #communityDiv #sideMenu {
  width: 20%;
}

#communityParentDiv #communityDiv #menuList {
  color: #7e7e7e;
  font-size: 16px;
}

#communityParentDiv #communityDiv #menuList li {
  margin-bottom: 4px;
}

#communityParentDiv #communityDiv #menuList li:hover {
  color: black;
  font-weight: 700;
  cursor: pointer;
}

#communityParentDiv #communityDiv #list {
  width: 70%;
}

#communityParentDiv #communityDiv #showMore {
  display: block;
  margin: 0 auto;
}

#communityParentDiv #communityDiv #searchBar {
  display: block;
  width: 35%;
  margin: 8px auto;
  padding: 8px;
  font-size: 20px;
  background-color: #ececec;
  border-radius: 10px;
}
