#dropDown {
  display: flex;
  position: absolute;
  color: gray;
  background-color: rgb(255, 255, 255);
  text-align: center;
  list-style: none;
  margin-left: 20vh;
  top: 20vh;
  cursor: pointer;
}

#dropMenu:not(:last-child) {
  margin-right: 17vh;
}
