#dropDown {
  display: flex;
  position: absolute;
  color: gray;
  background-color: rgb(255, 255, 255);
  text-align: center;
  list-style: none;
  margin-left: 155px;
  top: 175px;
}

#dropMenu:not(:last-child) {
  margin-right: 125px;
}
