#Main5Div {
  margin-top: 30px;
}

#welcomePetpal {
  display: flex;
  justify-content: center;
}

#footer {
  display: flex;
  justify-content: space-evenly;
}

#footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#subject {
  font-size: 30px;
  font-weight: bold;
}

#text {
  font-size: 15px;
  font-weight: bold;
  margin: 1vh auto;
}
