#signinFormParentDiv {
  position: relative;
}

#signinForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3% auto;
}

#signinForm div div {
  width: 46%;
}

#signinForm label {
  display: block;
  font-size: 1.5vh;
  font-weight: 700;
  margin-bottom: 1%;
}

#signinForm #checkDuplication {
  position: absolute;
  right: 14%;
  top: 6%;
  background-color: white;
  border: 1px solid #999999;
  color: #999999;
  padding: 4px;
  width: 10%;
  font-size: 2vh;
}

#signinForm #sendNumber {
  position: absolute;
  right: 14%;
  top: 26%;
  background-color: white;
  border: 1px solid #999999;
  color: #999999;
  padding: 4px;
  width: 10%;
  font-size: 2vh;
}

#signinForm #passwordP {
  font-size: 1vh;
  position: relative;
  right: 10.5vh;
  top: 5vh;
}

#signinForm #pwCheckP {
  font-size: 1vh;
  position: relative;
  right: 23vh;
  top: 5vh;
}

#signinForm h4 {
  position: relative;
  left: 0.3vh;
  top: 3vh;
  margin: 0;
}

#signinForm input {
  width: 100%;
  padding: 4px;
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
}

#signinForm .checkButton {
  position: relative;
  right: 4vh;
  margin-top: 3vh;
  background-color: white;
  border: 1px solid #999999;
  color: #999999;
  padding: 4px;
  width: 35%;
  font-size: 2vh;
}

#signinForm #checkDuplication:hover,
#signinForm #sendNumber:hover,
#signinForm .checkButton:hover {
  background-color: lightgray;
}

#signinForm #nameAndNickname,
#signinForm #emailDiv,
#signinForm #passwordDiv,
#signinForm #pwCheckDiv,
#signinForm #telDiv,
#signinForm #numberDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
#signinButtonDiv {
  width: 50%;
  margin: 0 auto;
}

#signinButton {
  display: block;
  margin: 36px auto;
  background-color: #f5d584;
  color: #7e5100;
  border: 1px solid #f5d584;
  width: 40%;
  padding: 8px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

#signinText {
  text-decoration: none;
}
