#comment {
  display: flex;
}

#expPet,
#petAllergy {
  display: flex;
  flex-direction: column;
}

#expPet {
  margin-right: 10%;
}

#expComment,
#allergyComment {
  width: 63vh;
  height: 20vh;
}

#commentTitle {
  font-size: 15px;
  font-weight: 700;
}
