#sitAppParentDiv {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#sitAppDiv {
  width: 70vw;
  height: 90vh;
  box-shadow: 6px 5px 5px 5px;
  margin-top: 5%;
  border-radius: 15px;
}
#sitAppDiv h2 {
  font-size: 50px;
  margin: 1%;
}
#goToResume {
  width: 25vw;
  height: 38vh;
  box-shadow: 2px 1px 1px 1px;
  border-radius: 50px;
  margin: 0 auto;
}
#goToResume img {
  width: 70%;
  height: 60%;
  margin-top: 10px;
}
#goToResume p {
  color: gray;
  font-size: 20px;
}
#goToResumeImg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#goToResume button {
  background-color: #fed586;
  border: none;
  border-radius: 40px;
  padding: 3% 8%;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 1px 1px 1px;
}
#goToResume button:hover {
  background-color: orange;
}
#goToResumeBtn {
  display: flex;
  justify-content: center;
}
#sitAppProcess {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
#sitAppProcess img {
  width: 70%;
}
